body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #3498db;
    padding: 20px 0;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #2980b9;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}